
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "layouts/layout/themes/darkblue";
@import "layouts/layout/layout";
@import "global/theme_components";
@import "global/theme_plugins";

@import "layouts/profile";

.sidebar-toggler {
  padding-left: 1em;
}

.alert {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6,
label, .label, .help-block {
  font-family: $font-family-secondary;
}