%li.sidebar-search-wrapper
  %form.sidebar-search.sidebar-search-bordered
    %a.remove{ href: 'javascript:;' }
      %i.fa.fa-times-circle

    .input-group
      %input.form-control{ type: 'text', placeholder: 'Search...' }
      %span.input-group-btn
        %a.btn.submit{ href: '#' }
          %i.fa.fa-search